
.dropdownDiv { 
  position: relative;
  display: flex;
  flex-direction: column;
  color: #444;
  width: 100%;

  margin: 20px;
  height: auto;
  @media (max-width: 768px) {
    margin: 20px;
    height: auto;
    };
}
.dropdown-header {
  cursor: pointer;
  width: 100%;
  position: sticky;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      height: 52px;
      background-color: #ff6060;
      border-radius: 10px;
      z-index: 1;
      padding: 0;
      margin: 0;
      cursor: pointer;
}
h3 {
  padding: 0 10px;     
}

.dropdown-description {

  position: relative;
  width: 100%;
  color: #FF6060;
  font-size : 18px;
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
  overflow: hidden;
  height: auto;
border-radius: 5px;
transition: all  linear 0.4s;


}

.open {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}
.close {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  
}
.description-text {
  padding: 10px;
  margin: 10px;
  text-align: justify;
  line-height: 30px;
}

