 .dropdown-description {
    height: auto;
    
}

.dropdownWrapper {
    width: 100%;
    padding: 0 30px;
    @media screen and (max-width: 768px) {
        padding: 0px
    }

    }

    li a:hover,
    li a.active {
  text-decoration: underline !important;
}
