.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.cardCarrousel {
  width: 100%;
  height: 30vw;
}

.hostRate {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
  }
}

.info {
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.cardTitle {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.cardLocation {
  width: 100%;
  font-size: 16px;
  margin-bottom: 16px;
}

.cardTags {
  width: 100%;
  margin-bottom: 16px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.cardHost {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: end;

  @media screen and (max-width: 768px) {
    align-self: start;
  }
}

.cardHost img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 8px;
}

.cardHost p {
  font-size: 16px;
}

.cardRating {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
  justify-content: end;
  align-self: center;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
  }
}

.cardDropdown {
  align-self: start;
  width: 48%;
  height: auto;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
  }
}