@import '../../utils/GlobalStyle/variables.scss';

* {
  transition: all 0.3s ease-in-out;
}

.headerContainer {
  clear: both;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  @media screen and (max-width: 768px) {
      padding: 20px;
  }}

nav {
  float: right;
}


.logo img {
  float: left;
  max-width: 14vw;

  &:hover {
    cursor: pointer;
  }
}


li {
  display: inline-block;
  padding: 10px;
  font-size: 24px;
  text-decoration: none;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

li a {
  text-decoration: none;
  color: $colorPrimary;
  .activeLink{
    text-decoration: underline !important;
    color: red !important;
  }
  
}

li a:hover{
  text-decoration: underline 
}

