@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import './variables.scss';

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



.container {
    padding: 20px 100px;
    @media screen and (max-width: 768px) {
        padding: 20px;
    }
}
